{% extends "layout.html" %} {% block content %}
<!-- ##### Top Catagory Area Start ##### -->
<section class="top-catagory-area section-padding-80-0">
  <div class="container">
    <div class="row">
      <!-- Top Catagory Area -->
      <div class="col-12 col-lg-6">
        <div class="single-top-catagory">
          {% load static %}
          <img src="{% static 'images/bg-img/bg2.jpg' %}" alt="" />
          <!-- Content -->
          <div class="top-cta-content">
            <h3>Strawberry Cake</h3>
            <h6>Simple &amp; Delicios</h6>
            <a href="receipe-post.html" class="btn delicious-btn"
              >See Full Receipe</a
            >
          </div>
        </div>
      </div>
      <!-- Top Catagory Area -->
      <div class="col-12 col-lg-6">
        <div class="single-top-catagory">
          {% load static %}
          <img src="{% static 'images/bg-img/bg3.jpg' %}" alt="" />
          <!-- Content -->
          <div class="top-cta-content">
            <h3>Chinesse Noodles</h3>
            <h6>Simple &amp; Delicios</h6>
            <a href="receipe-post.html" class="btn delicious-btn"
              >See Full Receipe</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Top Catagory Area End ##### -->

<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>The best Receipies</h3>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="single-best-receipe-area mb-30">
        {% load static %}
        <img src="{% static 'images/bg-img/r5.jpg' %}" alt="" />
        <div class="receipe-content">
          <a href="receipe-post.html">
            <h5>Homemade Breakfast</h5>
          </a>
          <div class="ratings">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Best Receipe Area End ##### -->

<!-- ##### CTA Area Start ##### -->
<section class="cta-area bg-img bg-overlay">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <!-- Cta Content -->
        <div class="cta-content text-center">
          <h2>Gluten Free Receipies</h2>
          <p>
            Fusce nec ante vitae lacus aliquet vulputate. Donec scelerisque
            accumsan molestie. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia Curae; Cras sed accumsan neque.
            Ut vulputate, lectus vel aliquam congue, risus leo elementum nibh
          </p>
          <a href="#" class="btn delicious-btn">Discover all the receipies</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### CTA Area End ##### -->

<!-- ##### Small Receipe Area Start ##### -->
<section class="small-receipe-area section-padding-80-0">
  <div class="container">
    <div class="row">
      <!-- Small Receipe Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-small-receipe-area d-flex">
          <!-- Receipe Thumb -->
          <div class="receipe-thumb">
            {% load static %}
            <img src="{% static 'images/bg-img/sr1.jpg' %}" alt="" />
          </div>
          <!-- Receipe Content -->
          <div class="receipe-content">
            <span>January 04, 2018</span>
            <a href="receipe-post.html">
              <h5>Homemade italian pasta</h5>
            </a>
            <div class="ratings">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>2 Comments</p>
          </div>
        </div>
      </div>

      <!-- Small Receipe Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-small-receipe-area d-flex">
          <!-- Receipe Thumb -->
          <div class="receipe-thumb">
            {% load static %}
            <img src="{% static 'images/bg-img/sr2.jpg' %}" alt="" />
          </div>
          <!-- Receipe Content -->
          <div class="receipe-content">
            <span>January 04, 2018</span>
            <a href="receipe-post.html">
              <h5>Baked Bread</h5>
            </a>
            <div class="ratings">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>2 Comments</p>
          </div>
        </div>
      </div>

      <!-- Small Receipe Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-small-receipe-area d-flex">
          <!-- Receipe Thumb -->
          <div class="receipe-thumb">
            {% load static %}
            <img src="{% static 'images/bg-img/sr3.jpg' %}" alt="" />
          </div>
          <!-- Receipe Content -->
          <div class="receipe-content">
            <span>January 04, 2018</span>
            <a href="receipe-post.html">
              <h5>Scalops on salt</h5>
            </a>
            <div class="ratings">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>2 Comments</p>
          </div>
        </div>
      </div>

      <!-- Small Receipe Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-small-receipe-area d-flex">
          <!-- Receipe Thumb -->
          <div class="receipe-thumb">
            {% load static %}
            <img src="{% static 'images/bg-img/sr4.jpg' %}" alt="" />
          </div>
          <!-- Receipe Content -->
          <div class="receipe-content">
            <span>January 04, 2018</span>
            <a href="receipe-post.html">
              <h5>Fruits on plate</h5>
            </a>
            <div class="ratings">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>2 Comments</p>
          </div>
        </div>
      </div>

      <!-- Small Receipe Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-small-receipe-area d-flex">
          <!-- Receipe Thumb -->
          <div class="receipe-thumb">
            {% load static %}
            <img src="{% static 'images/bg-img/sr5.jpg' %}" alt="" />
          </div>
          <!-- Receipe Content -->
          <div class="receipe-content">
            <span>January 04, 2018</span>
            <a href="receipe-post.html">
              <h5>Macaroons</h5>
            </a>
            <div class="ratings">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>2 Comments</p>
          </div>
        </div>
      </div>

      <!-- Small Receipe Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-small-receipe-area d-flex">
          <!-- Receipe Thumb -->
          <div class="receipe-thumb">
            {% load static %}
            <img src="{% static 'images/bg-img/sr6.jpg' %}" alt="" />
          </div>
          <!-- Receipe Content -->
          <div class="receipe-content">
            <span>January 04, 2018</span>
            <a href="receipe-post.html">
              <h5>Chocolate tart</h5>
            </a>
            <div class="ratings">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>2 Comments</p>
          </div>
        </div>
      </div>

      <!-- Small Receipe Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-small-receipe-area d-flex">
          <!-- Receipe Thumb -->
          <div class="receipe-thumb">
            {% load static %}
            <img src="{% static 'images/bg-img/sr7.jpg' %}" alt="" />
          </div>
          <!-- Receipe Content -->
          <div class="receipe-content">
            <span>January 04, 2018</span>
            <a href="receipe-post.html">
              <h5>Berry Desert</h5>
            </a>
            <div class="ratings">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>2 Comments</p>
          </div>
        </div>
      </div>

      <!-- Small Receipe Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-small-receipe-area d-flex">
          <!-- Receipe Thumb -->
          <div class="receipe-thumb">
            {% load static %}
            <img src="{% static 'images/bg-img/sr8.jpg' %}" alt="" />
          </div>
          <!-- Receipe Content -->
          <div class="receipe-content">
            <span>January 04, 2018</span>
            <a href="receipe-post.html">
              <h5>Zucchini Grilled on peper</h5>
            </a>
            <div class="ratings">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>2 Comments</p>
          </div>
        </div>
      </div>

      <!-- Small Receipe Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-small-receipe-area d-flex">
          <!-- Receipe Thumb -->
          <div class="receipe-thumb">
            {% load static %}
            <img src="{% static 'images/bg-img/sr9.jpg' %}" alt="" />
          </div>
          <!-- Receipe Content -->
          <div class="receipe-content">
            <span>January 04, 2018</span>
            <a href="receipe-post.html">
              <h5>Chicken Salad</h5>
            </a>
            <div class="ratings">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>2 Comments</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Small Receipe Area End ##### -->

<!-- ##### Quote Subscribe Area Start ##### -->
<section class="quote-subscribe-adds">
  <div class="container">
    <div class="row align-items-end">
      <!-- Quote -->
      <div class="col-12 col-lg-4">
        <div class="quote-area text-center">
          <span>"</span>
          <h4>
            Nothing is better than going home to family and eating good food and
            relaxing
          </h4>
          <p>John Smith</p>
          <div class="date-comments d-flex justify-content-between">
            <div class="date">January 04, 2018</div>
            <div class="comments">2 Comments</div>
          </div>
        </div>
      </div>

      <!-- Newsletter -->
      <div class="col-12 col-lg-4">
        <div class="newsletter-area">
          <h4>Subscribe to our newsletter</h4>
          <!-- Form -->
          <div class="newsletter-form bg-img bg-overlay">
            <form action="#" method="post">
              <input
                type="email"
                name="email"
                placeholder="Subscribe to newsletter"
              />
              <button type="submit" class="btn delicious-btn w-100">
                Subscribe
              </button>
            </form>
            <p>
              Fusce nec ante vitae lacus aliquet vulputate. Donec sceleri sque
              accumsan molestie. Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia.
            </p>
          </div>
        </div>
      </div>

      <!-- Adds -->
      <div class="col-12 col-lg-4">
        <div class="delicious-add">
          {% load static %}
          <img src="{% static 'images/bg-img/add.png' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
