<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Delicious - Food Blog Template | Home</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}" />
    <!-- <link rel="stylesheet" href="/app/static/css/style.css" /> -->
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/classy-nav.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/nice-select.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/custom-icon.css' %}"
    />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/magnific-popup.css' %}"
    /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/custom-css.css' %}"
    />
    
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/register.css' %}"
    />
  </head>

  <body>
    <!-- Search Wrapper -->
    <div class="search-wrapper">
      <!-- Close Btn -->
      <div class="close-btn">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <form action="#" method="post">
              <input
                type="search"
                name="search"
                placeholder="Type any keywords..."
              />
              <button type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
      <!-- Top Header Area -->
      <div class="top-header-area">
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-between">
            <!-- Breaking News -->
            <div class="col-12 col-sm-6">
              <div class="breaking-news">
                <div id="breakingNewsTicker" class="ticker">
                  <ul>
                    <li><a href="#">Hello World!</a></li>
                    <li><a href="#">Welcome to Colorlib Family.</a></li>
                    <li><a href="#">Hello Delicious!</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Top Social Info -->
            <div class="col-12 col-sm-6">
              <div class="top-social-info text-right">
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
                <a href="/register" class="btn btn-light"> Register </a>
                <a href="/login" class="btn btn-light"> Login </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Navbar Area -->
      <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
          <div class="container">
            <!-- Menu -->
            <nav
              class="classy-navbar justify-content-between"
              id="deliciousNav"
            >
              <!-- Logo -->
              <a class="nav-brand" href=""
                ><img src="{% static 'images/core-img/logo.png' %}" alt=""
              /></a>

              <!-- Navbar Toggler -->
              <div class="classy-navbar-toggler">
                <span class="navbarToggler"
                  ><span></span><span></span><span></span
                ></span>
              </div>

              <!-- Menu -->
              <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                  <div class="cross-wrap">
                    <span class="top"></span><span class="bottom"></span>
                  </div>
                </div>

                <!-- Nav Start -->
                <div class="classynav">
                  <ul>
                    <li class="active"><a href="">Home</a></li>
                    <li>
                      <a href="#">Pages</a>
                      <ul class="dropdown">
                        <li><a href="">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="blog-post.html">Blog Post</a></li>
                        <li><a href="receipe-post.html">Receipe Post</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="elements.html">Elements</a></li>
                        <li>
                          <a href="#">Dropdown</a>
                          <ul class="dropdown">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="blog-post.html">Blog Post</a></li>
                            <li>
                              <a href="receipe-post.html">Receipe Post</a>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="elements.html">Elements</a></li>
                            <li>
                              <a href="#">Dropdown</a>
                              <ul class="dropdown">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="blog-post.html">Blog Post</a></li>
                                <li>
                                  <a href="receipe-post.html">Receipe Post</a>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="elements.html">Elements</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">Mega Menu</a>
                      <div class="megamenu">
                        <ul class="single-mega cn-col-4">
                          <li class="title">Catagory</li>
                          <li><a href="index.html">Home</a></li>
                          <li><a href="about.html">About Us</a></li>
                          <li><a href="blog-post.html">Blog Post</a></li>
                          <li><a href="receipe-post.html">Receipe Post</a></li>
                          <li><a href="contact.html">Contact</a></li>
                          <li><a href="elements.html">Elements</a></li>
                        </ul>
                        <ul class="single-mega cn-col-4">
                          <li class="title">Catagory</li>
                          <li><a href="index.html">Home</a></li>
                          <li><a href="about.html">About Us</a></li>
                          <li><a href="blog-post.html">Blog Post</a></li>
                          <li><a href="receipe-post.html">Receipe Post</a></li>
                          <li><a href="contact.html">Contact</a></li>
                          <li><a href="elements.html">Elements</a></li>
                        </ul>
                        <ul class="single-mega cn-col-4">
                          <li class="title">Catagory</li>
                          <li><a href="index.html">Home</a></li>
                          <li><a href="about.html">About Us</a></li>
                          <li><a href="blog-post.html">Blog Post</a></li>
                          <li><a href="receipe-post.html">Receipe Post</a></li>
                          <li><a href="contact.html">Contact</a></li>
                          <li><a href="elements.html">Elements</a></li>
                        </ul>
                        <div class="single-mega cn-col-4">
                          <div class="receipe-slider owl-carousel">
                            <a href="#">
                              {% load static %}
                              <img
                                src="{% static '/images/bg-img/bg1.jpg' %}"
                                alt=""
                            /></a>
                            <a href="#">
                              {% load static %}
                              <img
                                src="{% static '/images/bg-img/bg6.jpg' %}"
                                alt=""
                            /></a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li><a href="receipe-post.html">Receipies</a></li>
                    <li><a href="receipe-post.html">4 Vegans</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>

                  <!-- Newsletter Form -->
                  <div class="search-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </div>
                </div>
                <!-- Nav End -->
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area End ##### -->
    {% block content %}{% endblock %}
    <!-- ##### Quote Subscribe Area End ##### -->

    <!-- ##### Follow Us Instagram Area Start ##### -->
    <div class="follow-us-instagram">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h5>Follow Us Instragram</h5>
          </div>
        </div>
      </div>
      <!-- Instagram Feeds -->
      <div class="insta-feeds d-flex flex-wrap">
        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
          <img src="/app/static/img/bg-img/insta1.jpg" alt="" />
          <!-- Icon -->
          <div class="insta-icon">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### Follow Us Instagram Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
      <div class="container h-100">
        <div class="row h-100">
          <div
            class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between"
          >
            <!-- Footer Social Info -->
            <div class="footer-social-info text-right">
              <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <!-- Footer Logo -->
            <div class="footer-logo">
              <a href="index.html"
                ><img src="{% static 'images/core-img/logo.png' %}" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    {% load static %}
    <script
      type="text/javascript"
      src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"
    ></script>
    <!-- Popper js -->
    {% load static %}
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap/popper.min.js' %}"
    ></script>
    <!-- Bootstrap js -->
    {% load static %}
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap/bootstrap.min.js' %}"
    ></script>
    <!-- All Plugins js -->
    {% load static %}
    <script
      type="text/javascript"
      src="{% static 'js/plugins/plugins.js' %}"
    ></script>
    <!-- Active js -->
    {% load static %}
    <script type="text/javascript" src="{% static 'js/active.js' %}"></script>
  </body>
</html>
