{% extends "layout.html" %}

<h1>Yes it works!</h1>

{% block recipe %}
<div class="col-12 col-sm-6 col-lg-4">
  <div class="single-best-receipe-area mb-30">
    {% load static %}
    <img src="{% static 'images/bg-img/r3.jpg' %}" alt="" />
    <div class="receipe-content">
      <a href="receipe-post.html">
        <h5>Vegan Smoothie</h5>
      </a>
      <div class="ratings">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
{% endblock %}
