{% extends "layout.html" %} {% block content %}
<div class="mt-6 m-auto">
  <div id="regContainer" class="container">
    <div class="row">
      <div class="col-md-8 m-auto col-md-offset-6">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-8 m-auto">
                <a href="/login" class="active" id="login-form-link">Login</a>
              </div>
              <div class="col-xs-8 m-auto">
                <a href="/register" id="register-form-link">Register</a>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="register-form" action="#" method="post" role="form">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input
                      type="text"
                      name="username"
                      id="username"
                      tabindex="1"
                      class="form-control"
                      placeholder="Username"
                      value=""
                    />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      tabindex="2"
                      class="form-control"
                      placeholder="Password"
                    />
                  </div>
                  <div class="form-group">
                    <label for="confirm-password">Confirm password</label>
                    <input
                      type="password"
                      name="confirm-password"
                      id="confirm-password"
                      tabindex="2"
                      class="form-control"
                      placeholder="Confirm Password"
                    />
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3 m-auto">
                        <input
                          type="submit"
                          name="login-submit"
                          id="login-submit"
                          tabindex="4"
                          class="form-control btn btn-login"
                          value="Register"
                        />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
